<div id="<%= dom_id forecast %>">
  <p>
    <strong>Data:</strong>
    <%= forecast.data %>
  </p>

  <p>
    <strong>Valid until:</strong>
    <%= forecast.valid_until %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= forecast.zip %>
  </p>

</div>
